<div class="container-dashboard">
  <app-headerbash></app-headerbash>
  <div class="contenedordedatos">
    <aside class="anuncio">
      <div class="asidbody">
        <div class="header">
          <div class="aside-img">
            <img src="../../../assets/logo.png" alt="" />
          </div>
          <div class="aside-titulo">
            <h4>Progress Sistem</h4>
          </div>
          <i class="bx bx-chevron-right toogle"></i>
        </div>
        <div class="aside-context">
          <div class="aside-nav-btn">
            <ul class="aside-menu">
              <li>
                <a href="">
                  <i class="bx bx-home-alt icon"></i>
                  <span class="aside-text-btn">Tablero</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-user icon"></i>
                  <span class="aside-text-btn">Clientes</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-star icon"></i>
                  <span class="aside-text-btn">Articulos</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-file-blank icon"></i>
                  <span class="aside-text-btn">Presupuesto</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-file icon"></i>
                  <span class="aside-text-btn">Facturas</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-wallet-alt icon"></i>
                  <span class="aside-text-btn">Pagos</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bxs-calculator icon"></i>
                  <span class="aside-text-btn">Gastos</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bxs-user-detail icon"></i>
                  <span class="aside-text-btn">Usuarios</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-bar-chart-alt icon"></i>
                  <span class="aside-text-btn">Informe</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="bx bx-cog icon"></i>
                  <span class="aside-text-btn">Configuraciones</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="aside-botom">
          <li class="aside-menu-botom">
            <a (click)="logout();">
              <i class="bx bx-log-out icon"></i>
              <span class="aside-text-botom">Cerrar Session</span>
            </a>
          </li>
          <li class="aside-mode-botom">
            <div class="moon-sun">
              <i class="bx bx-moon moon"></i>
              <i class="bx bx-sun sun"></i>
            </div>
            <span class="mode-text text">Dark Mode</span>
            <div class="toogle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </aside>
    <section class="datos">
      <h1>Hola</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure libero id
        quos ex, quae architecto. Soluta minima natus voluptatem, deserunt
        laborum eligendi voluptas odio corrupti omnis dolorum assumenda itaque
        quibusdam.
      </p>
    </section>
    <section class="ejemplo">
      <h1>Hola</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
        cupiditate quod ipsum cumque libero totam non fugit, molestias ullam
        autem quos suscipit quam, sint vel, nobis voluptatem similique
        doloremque. Vero.
      </p>
    </section>
  </div>
</div>
