<div class="login-page">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/perfil.png" alt="login" />
    <h1>Recuperar Password</h1>
    <form [formGroup]="recuperarusuario" (ngSubmit)="recuperar()">
      <div class="input-box">
        <i class="bx bxs-user"></i>
        <input type="email" placeholder="Username" formControlName="correo" required />
        <br>
        <span
          *ngIf="
            recuperarusuario.get('correo')?.hasError('required') &&
            recuperarusuario.get('correo')?.touched
          "
          class="text-danger"
        >
          El <strong>correo</strong> es requerido
        </span>
        <span
          *ngIf="
            recuperarusuario.get('correo')?.hasError('email') &&
            recuperarusuario.get('correo')?.touched
          "
          class="text-danger"
        >
          El <strong>correo</strong> es invalido
        </span>
      </div>
      <button type="submit" class="btn-login" [disabled]="recuperarusuario.invalid">Recuperar</button>
      <div class="back"><a routerLink="/login">Volver</a></div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
