<div class="login-page">
  <div class="body">
    <img class="logo" src="../../../assets/img/perfil.png" alt="login" />
    <h6>Le enviamos un correo para su verificacion</h6>
    <form >
      <div class="input-box">
        <i class="bx bxs-user"></i>
        <input type="email" placeholder="Username" formControlName="correo" required />
      </div>
      <button type="submit" class="btn-login">Verificar</button>
      <div class="back"><a routerLink="/login">Volver</a></div>
    </form>
  </div>
</div>
